

.header__wrapper {
    display: flex;
}

.header__wrapper__menu--ctl {
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
}

.header-wrapper-menu__address {
    display: flex;
}

.header__mh30 {
    width: 100%;
    background: #ff9800;
    min-height: 30px;
}

footer {
    background-color: #ebebeb;
    font-size: 14px;
}

.footer-wrapper-menu-link > a > img {
    background-color: #ebebeb;
    width: 38px;
    height: 38px;
}

.footer-content--center > p {
    text-align: center;
}
