

.header-menu {
    background: #ebebeb;
}

.header-menu-ctls-ctl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555555;
    font-weight: 600;
    font-size: 13px;
    padding: 10px;
}

.header-wrapper-menu-address {
    display: flex;
    margin-bottom: 10px;
}

    .header-wrapper-menu-address > a {
        border: 1px solid #f5f5f5;
        text-align: center;
        color: #bd2026;
        font-size: 13px;
        font-weight: bold;
    }

        .header-wrapper-menu-address > a > img {
            width: 95%;
            height: 30px;
            margin-bottom: 5px;
        }

.header-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.header-search-contact-search__search {
    width: 700px;
    padding: 3px 10px;
}

.header-search-contact-search__btn-search {
    padding: 3px 10px;
}

.header-search-contact-hotline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-search-contact-hotline-number-phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
}

    .header-search-contact-hotline-number-phone.header-search-contact-hotline-number-phone--orangen {
        color: #FF9800;
    }

.header-search-user-control {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-search-user-control-cart-account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

    .header-search-user-control-cart-account > img {
        width: 32px;
    }

.header__mh30 {
    width: 100%;
    background: #ff9800;
    min-height: 30px;
}

.footer {
    background: #ebebeb;
    font-size: 14px;
    color: #555555;
}

.footer-top-contact__address.footer-top-contact__address--red {
    color: #bd2026;
    font-weight: bold;
}

.footer-top-contact__address.footer-top-contact__address--hotline {
    color: #bd2026;
    font-weight: 400;
}

.footer-top__title.footer-top__title--red {
    color: #bd2026;
}

.footer-top-menu-greet {
    color: #555555;
}

.footer-top-menu-greet-ctl.footer-top-menu-greet-ctl--bold {
    font-weight: bold;
}

.footer-top-newsletter-greet.footer-top-newsletter-greet--red {
    font-weight: bold;
    color: #bd2026;
}

.footer-top-profile__register {
    padding: 5px 10px;
}

.footer-top-profile__btn {
    padding: 5px 12px;
    background: #bd2026;
    color: white;
    border: 1px solid #bd2026;
}

.footer-top-address {
    display: flex;
}

.footer-top-address__address-red {
    color: #bd2026;
    font-weight: bold;
}

.footer-top-address__hotline-red {
    color: #bd2026;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
}

.footer-bottom__title {
    font-weight: bold;
    text-align: center;
}
