#footer{
    background-color:#b8b8b8;
    font-size:14px;
}
.title .greeting .title-address {
    color: #bd2026;
    
}
.title-address > a {
    color:#bd2026;
}
.title .wrapper-info-ft{
    display:flex;
    flex-direction:column;
}

