
.section-login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    --primary-color: #ff9800;
    background: url("../Images/Login/profile-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper-form {
    position: relative;
    width: 380px;
    height: 420px;
    background: #bfbfbf;
    overflow: hidden;
    border-radius: 12px;
}

    .wrapper-form.wrapper-form--register {
        height: 700px;
    }

    .wrapper-form::before {
        content: "";
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 420px;
        background: linear-gradient(0deg, #fff, var(--primary-color), var(--primary-color));
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
    }

    .wrapper-form::after {
        content: "";
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 420px;
        background: linear-gradient(0deg, #fff, var(--primary-color), var(--primary-color));
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
        animation-delay: 3s;
    }

.form-login {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    inset: 3px;
    border-radius: 10px;
    background-color: #f6f3f3;
    padding: 50px 40px;
}

    .form-login > h2 {
        color: var(--primary-color);
        font-weight: 600;
        text-align: center;
    }

.form-login-wrapper-controls {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.form-login-wrapper-controls__control {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
    z-index: 10;
}

.form-login-wrapper-controls > span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1.6rem;
    color: #808080;
    pointer-events: none;
    letter-spacing: 0.05rem;
    transition: 0.5s;
}

.form-login-wrapper-controls__control:valid ~ span, .form-login-wrapper-controls__control:focus ~ span {
    color: var(--primary-color);
    transform: translateY(-34px);
    font-size: 1.4rem;
}

.form-login-wrapper-controls > i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.form-login-wrapper-controls__control:valid ~ i, .form-login-wrapper-controls__control:focus ~ i {
    height: 44px;
}

.form-login-links {
    display: flex;
    justify-content: space-between;
}

    .form-login-links > a {
        margin: 10px 0;
        font-size: 1.4rem;
        color: #808080;
        transition: .2s;
    }

        .form-login-links > a:hover,
        .form-login-links > a:nth-child(2) {
            color: var(--primary-color);
        }

.form-login__btn-submit {
    border: none;
    outline: none;
    background-color: var(--primary-color);
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form-err-msg {
    font-size: 1rem;
    color: red;
    margin-top: 4px;
}
