.obj-content {
    margin: 20px 0;
}

.img-item {
    width: 100%;
}

.detail {
}

.detail-heading {
    border-bottom: 1px solid #a6a6a6;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.detail-heading__title {
    color: #bd2026;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.detail-heading-price {
    display: flex;
    gap: 16px;
    align-items: center;
}

.detail-heading-price__price {
    font-size: 1.6rem;
}

    .detail-heading-price__price.detail-heading-price__price--old {
        text-decoration: line-through;
        font-weight: 400;
        color: #83868c;
    }

    .detail-heading-price__price.detail-heading-price__price--current {
        font-size: 2rem;
        font-weight: 600;
        color: #bd2026;
    }

.detail-heading__note {
    font-size: 1.2rem;
    font-style: italic;
}

.detail-body {
}

.detail-body__desc {
    color: #555;
    font-size: 1.4rem;
    margin-bottom: 8px;
}

.detail-body__sub-desc {
    color: #000;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.detail-body-panel {
    border: 1px solid #ebebeb;
    padding: 0 10px 20px 10px;
    color: #288ad6;
    margin: 24px 0;
}

    .detail-body-panel p {
        font-size: 1.4rem;
        margin: 4px 0;
    }

.detail-body-panel__note {
    display: inline-block;
    transform: translateY(-14px);
    margin-left: 50px;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.detail-body-controls {
    width: 50%;
}

.detail-body-controls-feature {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 14px;
}

.detail-body-controls__btn {
    width: 100%;
}

.detail-body-group-fl {
}

.detail-body-group-fl__heading {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 8px;
}

.detail-body-group-fl-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.detail-body-group-fl-tag {
    display: block;
    font-size: 1.4rem;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 5px 10px;
    width: calc(20% - 8px);
    text-align: center;
}
