.product-deteil-img__text {
    color: red;
    font-size: 13px;
}

.product-detail-img {
    width: 100%;
    overflow: hidden;
}

.product-deteil-img > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-detail__title {
    font-weight: 600;
    color: #bd2026;
    font-size: 25px;
    margin-bottom: 10px;
}

.content-wrapper-card-product-card-product-price__price-product {
    margin: 0;
}



.product-detail__note {
    font-size: 14px;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    display: block;
    padding-bottom: 10px;
}

.product-detail-note {
    position: relative;
    border: 0.5px solid #ebebeb;
    padding: 20px;
    margin-top: 16px;
    width: 825px;
}

    .product-detail-note > span {
        position: absolute;
        top: -5%;
        background: #fff;
        left: 20px;
        color: #288ad6;
        text-transform: uppercase;
    }

.product-detail-note__text {
    color: #288ad6;
    position: relative;
    margin-left: 20px;
}

    .product-detail-note__text + .product-detail-note__text {
        margin-top: 10px;
    }

.tag-circel {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 8px;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #288ad6;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    z-index: -1;
}


.product-detail-desc {
    font-size: 14px;
    margin: 5px 0px;
    color: #a6a6a6;
}

.product-detail-control > div {
    display: flex;
    gap: 15px;
    margin-bottom: 12px;
}

.btn-control {
    padding: 7px 0;
    min-width: 200px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    border: 3px solid transparent;
    display: block;
}

    .btn-control.btn-control--solid {
        border-color: currentColor;
    }

    .btn-control.btn-control--fill {
        background-color: transparent;
    }

    .btn-control.btn-control--fill-red {
        background-color: #e32d2d;
    }

    .btn-control.btn-control--text-white {
        color: #fff;
    }

    .btn-control.btn-control--orange {
        color: #ff9800;
    }

    .btn-control.btn-control--green {
        color: #4caf50;
    }

    .btn-control.btn-control--w415 {
        width: 415px;
    }
