:root {
    --primary-color: #ff9800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: #1e1e1e;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

    button:active {
        transform: scale(.9);
    }

ul, li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.row .col-lg-2-5 {
    flex: 0 0 auto;
    width: 20%;
}

@media (min-width: 992px) {
    .col-lg-4, .col-lg-3, .col-lg-2-5, .col-lg-8 {
        margin: 7.5px 0;
    }
}

.form-gr {
    display: flex;
    align-items: center;
    gap: 8px;
}

    .form-gr + .form-gr {
        margin-top: 8px;
    }

.form-gr__label {
    width: 30%;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
    user-select: none;
}

.form-gr__control {
    width: calc(70% - 8px);
    padding: 8px 12px;
    outline: none;
    transition: all 0.5s;
}
/*== TAGS ==*/
.tag {
    background: #28a745;
    border-radius: 3px 0 0 3px;
    color: #fff;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 10px 10px 10px 0;
    text-decoration: none;
    -webkit-transition: opacity 0.2s;
    cursor: default;
    user-select: none;
    font-size: 1.6rem;
    text-transform: capitalize;
}

    .tag::before {
        background: #fff;
        border-radius: 10px;
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
        content: '';
        height: 6px;
        left: 10px;
        position: absolute;
        width: 6px;
        top: 10px;
    }

    .tag::after {
        background: #fff;
        border-bottom: 13px solid transparent;
        border-left: 10px solid #28a745;
        border-top: 13px solid transparent;
        content: '';
        position: absolute;
        right: 0;
        top: 0;
    }



    .tag.tag--chart {
        background: #2ab7ca;
    }

        .tag.tag--chart::after {
            border-left: 10px solid #2ab7ca;
        }




.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
    padding: 8px 16px;
    min-width: 200px;
    border: 3px solid;
}

    .btn:active {
        transform: scale(.9);
    }

    .btn.btn-solid {
        color: #fff !important;
    }

    .btn.btn-regular {
        border-color: currentColor;
        background-color: transparent !important;
    }

    .btn.btn--red {
        background-color: red;
        border-color: red;
        color: red;
    }

    .btn.btn--min {
        min-width: 50px;
    }

    .btn.btn--thin {
        border-width: 1px !important;
        font-weight: 500 !important;
    }

    .btn.btn--orange {
        border-color: orange;
        background-color: orange;
        color: orange;
    }

    .btn.btn--green {
        background-color: green;
        border-color: green;
        color: green;
    }

    .btn.btn--blue {
        background-color: dodgerblue;
        border-color: dodgerblue;
        color: dodgerblue;
    }

.btn-solid.btn--green {
    background-color: green;
    color: #fff;
}


.empty {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    min-height: 50vh;
}

    .empty > h4 {
        font-size: 4rem;
        color: #808080;
        text-transform: uppercase;
    }

.hidden-e {
    display: none !important;
}
