:root {
    --primary-color: #ff9800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: #1e1e1e;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

    button:active {
        transform: scale(.9);
    }

ul, li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}


@media (min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
        margin: 15px 0;
    }
}
