:root {
    --primary-color: #ff9800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: #1e1e1e;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

    button:active {
        transform: scale(.9);
    }

ul, li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}


@media (min-width: 992px) {
    .col-lg-4, .col-lg-3 {
        margin: 7.5px 0;
    }
}

.form-gr {
    display: flex;
    align-items: center;
    gap: 8px;
}

    .form-gr + .form-gr {
        margin-top: 8px;
    }

.form-gr__label {
    width: 30%;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
}

.form-gr__control {
    width: calc(70% - 8px);
    padding: 8px 12px;
    outline: none;
    transition: all 0.5s;
}
/*== TAGS ==*/
.tag {
    background: #28a745;
    border-radius: 3px 0 0 3px;
    color: #fff;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 10px 10px 10px 0;
    text-decoration: none;
    -webkit-transition: opacity 0.2s;
    cursor: default;
    user-select: none;
    font-size: 1.6rem;
    text-transform: capitalize;
}

    .tag::before {
        background: #fff;
        border-radius: 10px;
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
        content: '';
        height: 6px;
        left: 10px;
        position: absolute;
        width: 6px;
        top: 10px;
    }

    .tag::after {
        background: #fff;
        border-bottom: 13px solid transparent;
        border-left: 10px solid #28a745;
        border-top: 13px solid transparent;
        content: '';
        position: absolute;
        right: 0;
        top: 0;
    }



    .tag.tag--chart {
        background: #2ab7ca;
    }

        .tag.tag--chart::after {
            border-left: 10px solid #2ab7ca;
        }




.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
    padding: 8px 16px;
    min-width: 200px;
}

    .btn:active {
        transform: scale(.9);
    }

    .btn.btn-solid {
        background-color: currentColor;
        color: #fff;
        border: 3px solid;
    }

    .btn.btn-regular {
        border: 3px solid;
        border-color: currentColor;
    }

    .btn.btn--red {
        background-color: red;
        border-color: red;
    }

    .btn.btn--orange {
        color: orange;
    }

    .btn.btn--green {
        color: green;
    }

.btn-solid.btn--green {
    background-color: green;
    color: #fff;
}
